<h1 {{action "toggleClosed"}}>{{title}}</h1>
{{#animated-unless condition=isCompletelyUploaded}}
	{{progress-bar max=fileSize toValue=bytesUploaded}}
	<div class="upload-stats">
		<div>
			<button class="cancel"></button>
		</div>
		<div><strong>Status</strong>: {{uploadedPercent}}%</div>
		<div><strong>Speed</strong>: {{formattedUploadSpeed}}</div>
		<div><strong>Time</strong>: {{uploadTimeRemaining}}</div>
	</div>
{{/animated-unless}}
{{#animated-if condition=isCompletelyUploaded}}
	<fieldset>
		{{clipboard-button class="copyHashKey" copyValue=copyValue copyText="hash and key" data-clipboard-text=hashAndKey}}
		{{clipboard-button class="copyUrl" copyValue=copyValue copyText="download URL" data-clipboard-text=preparedDownloadUrl}}
		<button class="download" {{action "downloadFile"}}></button>
	</fieldset>
{{/animated-if}}