<h1 {{action "toggleClosed"}}>{{title}}</h1>
{{#animated-unless condition=isCompletelyUploaded}}
	{{progress-bar max=fileSize toValue=bytesUploaded}}
	<span class="uploading">Uploading to the node...{{uploadedPercent}}%</span>
{{/animated-unless}}
{{#animated-if condition=isCompletelyUploaded}}
	<fieldset>
		{{clipboard-button copyValue=copyValue copyText="hash and key" data-clipboard-text=hashAndKey}}
		{{clipboard-button copyValue=copyValue copyText="download URL" data-clipboard-text=""}}
		<button {{action "downloadFile"}}></button>
	</fieldset>
{{/animated-if}}