<h1 {{action "toggleClosed"}}>{{title}}</h1>

	{{progress-bar max=fileSize toValue=bytesUploaded}}
	<span class="uploading">
		<strong>Status</strong>: {{uploadedPercent}}% 
		<strong>Speed</strong>: {{formattedUploadSpeed}} 
		<strong>Time Left</strong>: {{uploadTimeRemaining}}
	</span>

	<fieldset>
		{{clipboard-button copyValue=copyValue copyText="hash and key" data-clipboard-text=hashAndKey}}
		{{clipboard-button copyValue=copyValue copyText="download URL" data-clipboard-text=preparedDownloadUrl}}
		<button {{action "downloadFile"}}></button>
	</fieldset>
