<header>
	<section class="branding">
		<img src="/assets/images/logo.png" width="187" height="140" alt="Metadisk - Powered by Storj">
	</section>
	<section class="search">
		<label><input type="text" placeholder="Search file hash&hellip;"></label>
	</section>
</header>
<!-- use native alerts or something similar:
https://developer.mozilla.org/en-US/docs/Web/API/notification#Browser_compatibility
https://github.com/ttsvetko/HTML5-Desktop-Notifications
 -->

<!-- 
Steps:
* Create component composition for all sections, some with embedded layouts and others, like section w/ yield
* Wire up other sections
* Wire up data with indexeddb adapter
* Manifest page
-->
<main>
	<section class="sidebar">
		<section class="upload">
			<button>UPLOAD</button>
			{{section-information caption="File Size Limit" unit="GB" value=maxFileSize valueTotal=null fileCount=null}}
		</section>
		{{#section-wrapper name="your-account" title="YOUR ACCOUNT"}}
			<h3>
				<span class="with-help token"><span class="help-icon">Access Token</span></span>
			</h3>
			<!-- emberfy this select + enable get new token -->
			<fieldset class="token-select">
				<div>
					<select>
					  <option value="QKhN5xN6OVWUmW9e">QKhN5xN6OVWUmW9e</option>
					  <option value="rtW6fj6sET6x7tl9">rtW6fj6sET6x7tl9</option>
					  <option value="T5dlNZONVTyBhNX5">T5dlNZONVTyBhNX5</option>
					</select>
				</div>
				<div></div>
			</fieldset>
			<h3>
				<span class="with-help bandwidth"><span class="help-icon">Your Bandwidth</span></span>
				<aside>0.10 GB</aside>
			</h3>
			<h3>
				<span class="with-help storage"><span class="help-icon">Estimated Storage</span></span>
				<aside>0.03 GB</aside>
			</h3>
			<fieldset>
				<button>FREE SPACE</button>
				<button>BUY SPACE</button>
			</fieldset>
		{{/section-wrapper}}
		{{#section-wrapper name="sharing" title="SHARING"}}
			<h3>
				<span class="with-help address"><span class="help-icon">Data Address</span></span>
			</h3>
			<code>{{datacoinAddress}}</code>
			<h3>
				<span class="with-help encryption"><span class="help-icon">Encryption</span></span>
				<aside>Convergent Encryption</aside>
			</h3>
		{{/section-wrapper}}
		{{#section-wrapper name="node-info" title="NODE INFORMATION"}}
			{{section-information caption="Upload Bandwidth" unit="GB" value=uploadBandwidth valueTotal=uploadBandwidthTotal fileCount=null}}
			<!-- change progress to component and animate on change...can be used later for file upload -->
			<progress {{bind-attr max=uploadBandwidthTotal}}  {{bind-attr value=uploadBandwidth}}></progress>
			{{section-information caption="Download Bandwidth" unit="GB" value=downloadBandwidth valueTotal=downloadBandwidthTotal fileCount=null}}
			<progress {{bind-attr max=downloadBandwidthTotal}} {{bind-attr value=downloadBandwidth}}></progress>
			{{section-information caption="Cache Used" unit="GB" value=cacheUsed valueTotal=cacheUsedTotal fileCount=null}}
			<progress {{bind-attr max=cacheUsedTotal}} {{bind-attr value=cacheUsed}}></progress>
			{{section-information caption="Files Syncing to Cloud" unit="GB" value=null valueTotal=cloudFileSize fileCount=cloudFileCount}}
			{{section-information caption="Files Syncing to Block" unit="GB" value=null valueTotal=syncFileSize fileCount=syncFileCount}}
			{{section-information caption="Datacoin Address" unit="DTC" value=datacoinBalance valueTotal=null fileCount=null}}
			<code>{{datacoinAddress}}</code>
		{{/section-wrapper}}
	</section>
	<section class="uploaded-files">
		<!-- upload multiple files here with progress bar for
		each, row status color, etc. stored in localstorage. download, etc.
		buttons only available once file upload complete. -->
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
		<section class="file">
			<h1>Batmans Secret Plan's.docx</h1>
			<fieldset>
				<button></button>
				<button></button>
				<button></button>
			</fieldset>
		</section>
	</section>
</main>
<footer>
	<h1>
		<a href="http://metadisk.org">Metadisk</a> - Powered by <a href="http://storj.io">Storj</a><span class="muted"> - by using this site you are agreeing to the terms of the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>.</span>
	</h1>
	<aside>
		<a href="https://github.com/Storj/web-core#api-documentation">API</a>
		<a href="https://github.com/Storj/Metadisk/issues">Report a bug</a>
	</aside>
</footer>

{{outlet}}