<header>
	<section class="branding">
		<img src="/assets/images/logo.png" width="187" height="140" alt="Metadisk - Powered by Storj">
	</section>
	<section class="search">
		<label><input type="text" placeholder="Search file hash&hellip;"></label>
	</section>
</header>
<!-- 
Steps:
* allow copy/pasting stuff ::: http://coderberry.me/blog/2013/07/19/githubs-copy-to-clipboard-with-ember/
* test that download handling actually works
* enable file hash/search and add to given token list if found (other urls)
* enable buy/free space modals and system (update bandwidth on purchase)
* enable complete offline manifest for all application files
-->
{{#animated-unless condition=notifyAccessGranted}}
	<div {{action "notify" "Great!" "Thank you for allowing Metadisk to send you important notifications!"}} id="notify-ask"><span></span> Click here to allow Metadisk to send you important notifications. <span></span></div>
{{/animated-unless}}
<main>
	<section class="sidebar">
		<section class="upload">
			{{file-upload multiple=true}}
			{{section-information caption="File Size Limit" unit="GB" value=maxFileSize valueTotal=null fileCount=null}}
		</section>
		{{#section-wrapper name="your-account" title="YOUR ACCOUNT"}}
			<h3>
				<span class="with-help token"><span class="help-icon">Access Token</span></span>
			</h3>
			<fieldset class="token-select">
				<div>
					{{select-option options=model}}
				</div>
				<div {{action 'generateToken'}}></div>
			</fieldset>
			{{section-information caption="Your Bandwidth" helpType="bandwidth" unit="GB" value=currentTokenRecord.yourBandwidth valueTotal=null fileCount=null}}
			{{section-information unit="GB" caption="Estimated Storage" helpType="storage" value=currentTokenRecord.estimatedStorage valueTotal=null fileCount=null}}
			<fieldset>
				<button>FREE SPACE</button>
				<button>BUY SPACE</button>
			</fieldset>
		{{/section-wrapper}}
		{{#section-wrapper name="sharing" title="SHARING"}}
			<h3>
				<span class="with-help address"><span class="help-icon">Data Address</span></span>
			</h3>
			<code>{{datacoinAddress}}</code>
			<h3>
				<span class="with-help encryption"><span class="help-icon">Encryption</span></span>
				<aside>Convergent Encryption</aside>
			</h3>
		{{/section-wrapper}}
		{{#section-wrapper name="node-info" title="NODE INFORMATION"}}
			{{section-information caption="Upload Bandwidth" unit="GB" value=uploadBandwidth valueTotal=uploadBandwidthTotal fileCount=null}}
			{{progress-bar max=uploadBandwidthTotal toValue=uploadBandwidth}}
			{{section-information caption="Download Bandwidth" unit="GB" value=downloadBandwidth valueTotal=downloadBandwidthTotal fileCount=null}}
			{{progress-bar max=downloadBandwidthTotal toValue=downloadBandwidth}}
			{{section-information caption="Cache Used" unit="GB" value=cacheUsed valueTotal=cacheUsedTotal fileCount=null}}
			{{progress-bar max=cacheUsedTotal toValue=cacheUsed}}
			{{section-information caption="Files Syncing to Cloud" unit="GB" value=null valueTotal=cloudFileSize fileCount=cloudFileCount}}
			{{section-information caption="Files Syncing to Block" unit="GB" value=null valueTotal=syncFileSize fileCount=syncFileCount}}
			{{section-information caption="Datacoin Address" unit="DTC" value=datacoinBalance valueTotal=null fileCount=null}}
			<code>{{datacoinAddress}}</code>
		{{/section-wrapper}}
	</section>
	<section class="uploaded-files">
		{{#each file in currentTokenRecord.files}}
			{{file-listing title=file.title fileHash=file.hash fileKey=file.key downloadUri=downloadUri bytesUploaded=file.bytesUploaded fileSize=file.fileSize}}
		{{/each}}
	</section>
</main>
<footer>
	<h1>
		<a href="http://metadisk.org">Metadisk</a> - Powered by <a href="http://storj.io">Storj</a><span class="muted"> - by using this site you are agreeing to the terms of the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>.</span>
	</h1>
	<aside>
		<a href="https://github.com/Storj/web-core#api-documentation">API</a>
		<a href="https://github.com/Storj/Metadisk/issues">Report a bug</a>
	</aside>
</footer>